/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* RESET PAGE */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--colornormalwhite);
  scroll-behavior: smooth;
}

/* FONT FACE FAMILY */
@font-face {
  font-family: STAR7;
  src: url(..//fonts/madafont/STAR7.ttf);
}

/* ROOT */
:root {
  --bckcolorprimary: #0a0a0a;
  --bckcolorsecondary: #161616;
  --colornormalwhite: #f4f4f4;
  --colornormalgrey: #d1d1d1;
  --importantcolor: #f99925;
}

/* SCROLL PAGE */
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bckcolorsecondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--importantcolor);
  border-radius: 10px;
}

/* BODY */
body {
  width: 100%;
  background-color: var(--bckcolorprimary);
}

/* MENU */
.menu {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: #2b2b2ba9;
  backdrop-filter: blur(3px);
  gap: 20px;
  z-index: 999;
  transition: 0.3s;
}

.menu .logo {
  width: 60px;
}

.menu .logo img {
  width: 100%;
}

.menu ul {
  display: flex;
  gap: 10px;
}

.menu ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 20px;
}

.linkeActive {
  background-color: var(--importantcolor);
  color: var(--bckcolorprimary);
  border-radius: 5px;
}

.menu ul li a:hover {
  background-color: var(--importantcolor);
  color: var(--bckcolorprimary);
  border-radius: 5px;
}

.menuScroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #0a0a0ac5;
  height: 75px;
}

.menuScroll .logo {
  margin-left: 50px;
  width: 40px;
}

.menuScroll ul {
  margin-right: 50px;
  gap: 5px;
}

.menuScroll ul li a {
  padding: 10px 15px;
  font-size: 0.8rem;
}

/* BANNER INITIAL */
.bannerInitial {
  width: 100%;
  height: 120vh;
  background-image: url(..//img/madaimages/imageBanner/banner.png);
  background-size: cover;
  box-shadow: 0px 10px 20px 0px #000;
}

.bannerInitial div {
  width: 100%;
  height: 100%;
  background-color: #000000c7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.bannerInitial div h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 130px;
  font-family: STAR7;
  letter-spacing: 10px;
  color: var(--importantcolor);
  text-shadow: var(--colornormalwhite) 8px 8px 0px;
}

.bannerInitial div p {
  width: 55%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

/* TITLES */
.titles {
  width: 90%;
  height: 200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.titles h1 {
  font-family: STAR7;
  letter-spacing: 5px;
  color: var(--importantcolor);
}

/* BANNER INITIAL */
.allContents {
  width: 90%;
  height: 95vh;
  padding-top: 100px;
  margin: 50px 0px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.allContents figure {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
  background-color: var(--bckcolorsecondary);
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px #000;
}

.allContents figure img {
  width: 60%;
}

.allContents figcaption {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.allContents figcaption h1 {
  letter-spacing: 5px;
  font-family: STAR7;
  font-size: 3rem;
  color: var(--importantcolor);
}

.allContents figcaption p {
  font-size: 1rem;
  width: 95%;
}

.allButtons {
  border: none;
  background-color: var(--importantcolor);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--bckcolorprimary);
  letter-spacing: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allButtons:hover {
  box-shadow: 0px 0px 20px 0px #f9992590;
}

#bokunohero figure img {
  width: 100%;
}

#blackclover figure img {
  position: absolute;
  width: 118%;
}

#bokunohero figure img {
  position: absolute;

  width: 155%;
}

#baki figure img {
  position: absolute;

  width: 155%;
}

#jujutsukaisen figure img {
  width: 165%;
  position: absolute;
}

#tokyorevengers figure img {
  width: 155%;
  position: absolute;
}

/* FOOTER */
footer {
  width: 100%;
  height: 250px;
  margin-top: 150px;
  background-color: var(--bckcolorsecondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer img {
  width: 100px;
}
