/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* RESET PAGE */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--colornormalwhite);
  scroll-behavior: smooth;
}

/* FONT FACE FAMILY */
@font-face {
  font-family: STAR7;
  src: url(..//fonts/madafont/STAR7.ttf);
}

/* ROOT */
:root {
  --bckcolorprimary: #000000;
  --bckcolorsecondary: #252422;
  --colornormalwhite: #f4f4f4;
  --colornormalgrey: #d1d1d1;
  --importantcolor: #f3921e;
}

/* SCROLL PAGE */
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bckcolorsecondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--importantcolor);
}

/* BODY */
body {
  width: 100%;
  background-color: var(--bckcolorprimary);
}

/* MENU */
header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.menu {
  width: 80%;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: 0.3s;
  gap: 50px;
}

.menu .logo {
  width: 75px;
}

.menu .logo img {
  width: 100%;
}

.menu ul {
  display: flex;
  gap: 10px;
}

.menu ul li a {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 20px;
}

.linkeActive {
  background-color: var(--importantcolor);
  color: var(--bckcolorprimary);
  border-radius: 5px;
}

.menu ul li a:hover {
  background-color: var(--importantcolor);
  color: var(--bckcolorprimary);
  border-radius: 5px;
}

.menuScroll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--bckcolorsecondary);
  box-shadow: 0px 0px 20px 0px #000;
  height: 75px;
  z-index: 999;
}

.menuScroll .menu {
  width: 90%;
}

.menuScroll .logo {
  width: 40px;
}

.menuScroll ul {
  gap: 5px;
}

.menuScroll ul li a {
  padding: 10px 15px;
  font-size: 0.8rem;
}

/* BANNER INITIAL */
.bannerInitial {
  width: 90%;
  height: calc(93vh - 140px);
  margin-inline: auto;
  margin-top: 140px;
  border-radius: 50px;
  background-image: url("https://wallpapercave.com/wp/wp10938513.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: top;
  box-shadow: 0px 10px 20px 0px #000;
}

.bannerInitial div {
  width: 100%;
  height: 100%;
  background-color: #000000e1;
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.bannerInitial div h1 {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 135px;
  text-align: center;
  font-family: STAR7;
  letter-spacing: 10px;

  /* text-shadow: var(--colornormalwhite) 8px 8px 0px; */
}

.bannerInitial div p {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;

  font-weight: 600;
}

/* TITLES */
.titles {
  width: 90%;
  height: 200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.titles h1 {
  font-family: STAR7;
  letter-spacing: 5px;
  color: var(--importantcolor);
  font-size: 3rem;
}

/* SLIDE */

swiper-container {
  width: 90%;
  margin-inline: auto;
  height: 500px;
  margin-top: 50px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #000000ea;
}

.slide figcaption {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding-left: 50px;
  /* background-color: #000000d7; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 41%,
    rgba(0, 0, 0, 0.74) 62%,
    rgba(0, 0, 0, 0) 100%
  );
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  width: 100%;
  height: 150px;
  margin-top: 150px;
  background-color: var(--bckcolorsecondary);
  background-image: url("https://wallpapercave.com/wp/wp10938513.jpg");
  background-size: cover;
}

footer div {
  width: 100%;
  height: 100%;
  background-color: #000000e1;
  display: flex;
  padding: 0px 80px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

footer img {
  width: 70px;
}
